@page "/PostDetails/{IdParam}"
@using System.Diagnostics
@using System.Security.Claims
@using Microsoft.EntityFrameworkCore
@using Microsoft.IdentityModel.Tokens

@rendermode InteractiveServer

@inject IHttpContextAccessor HttpContextAccessor
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject ContentDbContext DbContext
@inject IDbContextFactory<ContentDbContext> dbContextFactory

<div class="post-card">
    <h1>@_currentPost.Title</h1>
    <br/>
    <p>@((MarkupString)_currentPost.Content)</p>
    <br/>
    <p>@_currentPost.PostDate</p>
    <br/>
    <p>Views: @_currentPost.PostMetadata.ViewCount</p>
    <br/>
    <div>
        @if (authenticated)
        {
            <button style="outline: none !important;" class="votebutton @(voteObject.IsUpvote && voteObject.IsActive ? "text-warning" : "text-secondary")" @onclick="Upvote">
                <i class="bi bi-arrow-up"></i>
            </button>

            <button style="outline: none !important;" class="votebutton @(!voteObject.IsUpvote && voteObject.IsActive ? "text-purple" : "text-secondary")" @onclick="Downvote">
                <i class="bi bi-arrow-down"></i>
            </button>
        }
        <p>Score: @_currentPost.PostMetadata.NetVotes | Upvotes: @_currentPost.PostMetadata.Upvotes | Downvotes: @_currentPost.PostMetadata.Downvotes </p>
    </div>
</div>

<br/>

<Virtualize Context="comment" ItemsProvider="@LoadComments" ItemSize="100" OverscanCount="1">
    <ItemContent>
        <div class="comment-card">
            <p>@comment.Author.DisplayName</p>
            <p>@ConvertDateToString(comment.PostDate)</p>
            <div class="">
                <p>@((MarkupString)comment.Content)</p>
            </div>
        </div>
    </ItemContent>
</Virtualize>

@code {

    [Parameter] public string IdParam { get; set; }

    private PostId PostId { get; set; } = PostId.New();

    private bool authenticated;

    private Post? _currentPost;

    private UserId? userId;

    private Vote? voteObject;

    //private SocialUser? user;


    protected override async Task OnInitializedAsync()
    {
        if (IdParam.IsNullOrEmpty())
        {
            NavigationManager.NavigateTo("/ViewPosts");
        }

        if (PostId.TryParse(IdParam, out var postId))
        {
            PostId = postId;
        }
        else
        {
            NavigationManager.NavigateTo("/ViewPosts");
        }

        //Get the post object associated with this id
        await GetPost();

        if (_currentPost == null)
        {
            NavigationManager.NavigateTo("/ViewPosts");
        }
    }

    private async ValueTask<ItemsProviderResult<Comment>> LoadComments(ItemsProviderRequest request)
    {
        await using var dbContext = await dbContextFactory.CreateDbContextAsync();

        // Load the requested posts from the database
        var newComments = await dbContext.Comments
            .Include(comment => comment.Author)
            .Where(comment => comment.PostId == _currentPost.Id)
            .Select(comment => new Comment
            {
                Id = comment.Id,
                Content = comment.Content,
                PostDate = comment.PostDate,
                Author = comment.Author
            })
            .OrderByDescending(comment => comment.PostDate)
            .Skip(request.StartIndex)
            .Take(request.Count)
            .ToListAsync();

        int dynamicTotalCount;
        if (newComments.Count() < request.Count)
        {
            dynamicTotalCount = request.StartIndex + newComments.Count();
        }
        else
        {
            dynamicTotalCount = request.StartIndex + newComments.Count() + 10; // buffer for more posts
        }

        return new ItemsProviderResult<Comment>(newComments, dynamicTotalCount);
    }

    private async Task GetPost()
    {
        _currentPost = await DbContext.Posts.FindAsync(PostId);
    }

    private async Task GetPostMetaData()
    {
        _currentPost.PostMetadata = await DbContext.PostMetadatas.FindAsync(PostId);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            //Get the user requesting to determine if they can interact with the post
            var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            var AuthUser = authState.User;

            var ipAddress = HttpContextAccessor.HttpContext?.Connection?.RemoteIpAddress?.ToString();

            if (AuthUser.Identity.IsAuthenticated)
            {
                authenticated = true;
                var userIdClaim = AuthUser.FindFirst(c => c.Type == ClaimTypes.NameIdentifier)?.Value;
                userId = userIdClaim != null ? UserId.Parse(userIdClaim) : null;

                await DbContext.RecordUserViewAsync(_currentPost.Id, ipAddress, userId);

                voteObject = DbContext.Votes.FirstOrDefault(vote => vote.UserId == userId! && vote.PostId == _currentPost.Id) ?? new Vote { UserId = userId!, PostId = _currentPost.Id };
            }

            StateHasChanged();
        }
    }

    public static string ConvertDateToString(DateTime? date)
    {
        if (!date.HasValue)
        {
            return "Invalid date";
        }

        var difference = DateTime.Now - date.Value;

        if (difference.TotalDays >= 1)
        {
            return date.Value.ToString();
        }

        if (difference.TotalHours >= 1)
        {
            return $"{(int)difference.TotalHours}h";
        }

        if (difference.TotalMinutes >= 1)
        {
            return $"{(int)difference.TotalMinutes}m";
        }

        return $"{(int)difference.TotalSeconds}s";
    }

    private void Upvote()
    {
        UpdateVote(true);
    }

    private void Downvote()
    {
        UpdateVote(false);
    }

    private void UpdateVote(bool voteType)
    {
        if (voteObject.IsUpvote == voteType && voteObject.IsActive)
        {
            voteObject.IsActive = false;
        }
        else
        {
            voteObject.IsActive = true;
            voteObject.IsUpvote = voteType;
        }
        // Implement your logic here

        _ = DbContext.Votes.Any(v => v.PostId == _currentPost.Id && v.UserId == userId!) ? DbContext.Votes.Update(voteObject) : DbContext.Votes.Add(voteObject);
        DbContext.SaveChangesAsync();
        Debug.WriteLine($"User has {voteType}d.");
        StateHasChanged();
    }

}

<style>
    .text-purple {
        color: purple;
    }

    .votebutton:focus {
        outline: none !important;
    }

    .votebutton {
        padding: 10px;
        border: none;
        background: none;
    }

    .post-card {
        border: 1px solid #d0d0d0;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        margin: auto;
        margin-bottom: 20px;
        padding: 15px;
        border-radius: 10px;
        background-color: white;
        display: flex;
        flex-direction: column;
        overflow-wrap: break-word;
        word-break: break-word;
    }

    .comment-card {
        border: 1px solid #d0d0d0;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        margin: auto;
        margin-bottom: 20px;
        padding: 15px;
        border-radius: 10px;
        background-color: white;
        display: flex;
        flex-direction: column;
        overflow-wrap: break-word;
        word-break: break-word;
    }

</style>