@page "/post/{Id}"

@using System.Diagnostics;
@using Data;
@using Data.Entities;

@inject NavigationManager NavigationManager

@inject ContentDbContext DbContext

<h1>@_currentPost.Title</h1>
<br/>
<p>@((MarkupString)_currentPost.Content)</p>
<br />
<p>@_currentPost.PostDate</p>
<br />
<p>Upvotes: @_currentPost.Upvotes | Downvotes: @_currentPost.Downvotes</p>


@code {

    [Parameter]
    public string Id { get; set; }

    private Post _currentPost;

    protected override void OnInitialized() {

        if (Id == null || Id == "") {
            NavigationManager.NavigateTo("/ViewPosts");
        }

        //Get the post object associated with this id
        _currentPost = DbContext.Posts.Where(post => post.Id == Id).First();

    }

}
