@page "/ViewPosts"
@using BlazorSocial.Data.ComponentObjects
@using Microsoft.EntityFrameworkCore

@rendermode @(new InteractiveServerRenderMode(false))

@inject IDbContextFactory<ContentDbContext> dbContextFactory

<link rel="stylesheet" href="ViewPosts.css" asp-append-version="true"/>


<head>

</head>

<h3>View All Posts</h3>

<Virtualize Context="post" ItemsProvider="@LoadPosts" ItemSize="400" OverscanCount="1">
    <ItemContent>
        <a href="/post/@post.PostId" target="_blank" class="post-card" style="text-decoration:none;color:black;">
            <div>
                <p>@post.AuthorName</p>
                <h3>@post.Title</h3>
                <p>@ConvertDateToString(post.PostDate)</p>
                <div class="post-card-content">
                    <p>@((MarkupString)post.Content)</p>
                </div>
            </div>
        </a>
    </ItemContent>
</Virtualize>

@code {

    private async ValueTask<ItemsProviderResult<ViewPost>> LoadPosts(ItemsProviderRequest request)
    {
        await using var dbContext = await dbContextFactory.CreateDbContextAsync(request.CancellationToken);

        // Load the requested posts from the database
        var newPosts = await dbContext.Posts
            .Include(post => post.Author)
            .OrderByDescending(post => post.PostDate)
            .Select(post => new ViewPost(post))
            .Skip(request.StartIndex)
            .Take(request.Count)
            .ToListAsync(request.CancellationToken);

        int dynamicTotalCount;
        if (newPosts.Count < request.Count)
        {
            dynamicTotalCount = request.StartIndex + newPosts.Count;
        }
        else
        {
            dynamicTotalCount = request.StartIndex + newPosts.Count + 10; // buffer for more posts
        }

        return new ItemsProviderResult<ViewPost>(newPosts, dynamicTotalCount);
    }

    public static string ConvertDateToString(DateTime? date)
    {
        if (!date.HasValue)
        {
            return "Invalid date";
        }

        var difference = DateTime.Now - date.Value;

        if (difference.TotalDays >= 1)
        {
            return date.Value.ToString();
        }

        if (difference.TotalHours >= 1)
        {
            return $"{(int)difference.TotalHours}h";
        }

        if (difference.TotalMinutes >= 1)
        {
            return $"{(int)difference.TotalMinutes}m";
        }

        return $"{(int)difference.TotalSeconds}s";
    }

}